.App {
	text-align: center;
	padding: 5% 20% 5% 20%;
	background-color: #fff;
}
@media only screen and (max-width: 600px) {
	.App {
		text-align: center;
		padding: 5% 10% 5% 10%;
		background-color: #fff;
	}
}

.todo-header {
	margin-bottom: 30px;
	font-family: "Margarine", cursive;
	font-weight: 400;
}
.input-group {
	padding: 10px;
}
.todo-list {
	background-color: #abffd4;
	padding: 20px;
	border-radius: 15px;
}
.todo-list-h1 {
	font-size: 35px;
	text-transform: capitalize;
	font-family: "Margarine", cursive;
	font-weight: 400;
}
.todo-lists {
	display: flex;
	justify-content: space-between;
}
